<div class="grid grid-cols-3 gap-[19px] h-[36px]">
    <div class="flex justify-center items-center w-full h-full bg-[#054F85] rounded-[5px] text-center font-Inter text-[15px] font-[700] text-[#FFFFFF] cursor-pointer ">
        Cancel
    </div>
    <div class="flex justify-center items-center w-full h-full bg-[#054F85] rounded-[5px] text-center font-Inter text-[15px] font-[700] text-[#FFFFFF] cursor-pointer ">
        Request
    </div>
    <div class="flex justify-center items-center w-full h-full bg-[#054F85] rounded-[5px] text-center font-Inter text-[15px] font-[700] text-[#FFFFFF] cursor-pointer ">
        Purchase
    </div>
</div>


