<div id="paymentFees"
     class="block h-fit  rounded-[5px] border-[1px] border-[#054F85] shadow-[inset_0px_0px_8px_0px_#054F85]">
        <div class="mt-[14px] font-bold text-[15px] text-center w-full text-[#054F85]">
            Purchase Fees
        </div>
    <div class="flex justify-between mx-[19px] mt-[14px]">
        <div class="text-[#054F85] text-[15px] font-Inter font-normal">Bridge USDT to eUSD Fee</div>
        <div id="bridgeFees" class="text-[#054F85] text-[15px] font-Inter font-normal"> eUSD</div>
    </div>
    <div class="flex justify-between mx-[19px] mt-[14px]">
        <div class="text-[#054F85] text-[15px] font-Inter font-normal">Swap eUSD to eAI Fee</div>
        <div id="swapFees" class="text-[#054F85] text-[15px] font-Inter font-normal"> eUSD</div>
    </div>
    <div id="summaryMembership" class="hidden flex justify-between mx-[19px] mt-[14px]">
        <div class="text-[#054F85] text-[15px] font-Inter font-normal">PV Membership Fee</div>
        <div class="text-[#054F85] text-[15px] font-Inter font-normal">49 eAI</div>
        <input name="MembershipAmount" id="summaryMembershipAmount" type="hidden" value="{{$.amount}}">
        <input name="MembershipPeriod" id="summaryMembershipPeriod" type="hidden" value="{{$.period}}">
    </div>
    <div class="flex justify-between mx-[19px] mt-[14px] hidden">
        <div class="text-[#054F85] text-[15px] font-Inter font-normal">EDS Insurance</div>
        <div class="text-[#054F85] text-[15px] font-Inter font-normal">2,500.00 eAI</div>
    </div>
    <div class="border-t border-[#054F85] mx-[19px] mt-[14px]"></div>
    <div class="flex justify-between mx-[19px] my-[14px]">
        <div class="text-[#054F85] text-[20px] font-Inter font-normal">Total Fees</div>
        <div id="totalFees" class="text-[#054F85] text-[20px] font-Inter font-normal"> eAI</div>
    </div>
</div>