<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlenVida Sponsor</title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&amp;family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{.basePath}}/css/styles.css"/>
    <script src="{{.basePath}}/js/htmx/htmx.min.js" defer ></script>
</head>
<body class="relative min-h-screen bg-black min-w-screen font-Inter">
<div>
    This should get blurred
</div>
<div class="absolute inset-0 w-full h-full bg-transparent shadow-lg backdrop-blur-[5px] leading-[100%]">
    <div class="relative w-full h-full">
        <div class="absolute w-[392px] h-[377px] rounded-[22px] border-[1px] border-[#00F0FF] bg-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <div class="mt-[14px] mx-[31px] text-[24px] font-extrabold text-center text-nowrap h-[29px] ">
                Join the Plen Vida Network
            </div>
            <div class="mt-[13px] mx-[56px] mb-[17px] text-black text-[15px] font-medium ">
                Before you begin. you need a sponsor
            </div>
            <div class="border-[1px] border-[#FB1D00] rounded-[15px] h-[220px] w-[327px] flex flex-col mx-auto">
                <div class="font-extrabold text-center mt-[15px]">
                    <span class="text-[#920000] ">BLOCKED</span>
                    <span>ACTIONS</span>
                </div>
                <div class="mt-[10px] mx-[19px] flex justify-start items-center gap-[6px] ">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.06149 12.9834V9.01641H18.9423V12.9834H3.06149ZM11.0014 1.07422C5.51966 1.07422 1.07617 5.51816 1.07617 10.9999C1.07617 16.4812 5.51966 20.9256 11.0014 20.9256C16.4832 20.9256 20.9271 16.4812 20.9271 10.9999C20.9271 5.51816 16.4832 1.07422 11.0014 1.07422Z"
                              fill="#FF4B00"/>
                    </svg>
                    <div class="font-semibold text-[15px]">
                        You cannot purchase any <br/>packages
                    </div>
                </div>
                <div class="mt-[9px] mx-[19px] flex justify-start items-center gap-[6px] ">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.06149 12.9834V9.01641H18.9423V12.9834H3.06149ZM11.0014 1.07422C5.51966 1.07422 1.07617 5.51816 1.07617 10.9999C1.07617 16.4812 5.51966 20.9256 11.0014 20.9256C16.4832 20.9256 20.9271 16.4812 20.9271 10.9999C20.9271 5.51816 16.4832 1.07422 11.0014 1.07422Z"
                              fill="#FF4B00"/>
                    </svg>
                    <div class="font-semibold text-[15px]">
                        You cannot access Plen Vida dashboard
                    </div>
                </div>
                <div class="mt-[9px] mx-[19px] flex justify-start items-center gap-[6px] ">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.06149 12.9834V9.01641H18.9423V12.9834H3.06149ZM11.0014 1.07422C5.51966 1.07422 1.07617 5.51816 1.07617 10.9999C1.07617 16.4812 5.51966 20.9256 11.0014 20.9256C16.4832 20.9256 20.9271 16.4812 20.9271 10.9999C20.9271 5.51816 16.4832 1.07422 11.0014 1.07422Z"
                              fill="#FF4B00"/>
                    </svg>
                    <div class="font-semibold text-[15px]">
                        You cannot earn rewards or refer others
                    </div>
                </div>
                <div class="mt-[9px] ml-[21px] flex justify-start items-center gap-[9px] ">
                    <svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.08935 0.936696C3.36535 1.3437 0.363356 4.1927 0.0593556 7.7447C-0.168644 10.3347 1.00935 12.7027 2.90935 14.2197C3.47935 14.6637 3.82136 15.3297 3.82136 16.0327V16.0697C3.82136 17.1057 4.69536 17.9567 5.79736 17.9567H10.2054C11.3074 17.9567 12.1814 17.1057 12.1814 16.0697V16.0327C12.1814 15.3297 12.5234 14.6637 13.0934 14.2197C14.8414 12.8137 15.9814 10.7417 15.9814 8.4107C15.9814 3.9707 11.9154 0.455696 7.08935 0.936696Z"
                              fill="#FFC83D"/>
                        <path d="M11.4223 20.1396H4.58227C4.16427 20.1396 3.82227 20.4726 3.82227 20.8796C3.82227 22.1006 4.84827 23.0996 6.10227 23.0996H9.90227C11.1563 23.0996 12.1823 22.1006 12.1823 20.8796C12.1823 20.4726 11.8403 20.1396 11.4223 20.1396Z"
                              fill="#FFC83D"/>
                    </svg>
                    <div class="font-semibold text-[15px]">
                        Solution: Add or request a sponsor to proceed
                    </div>
                </div>
            </div>
            <div class="mt-[17px] text-center">
                <button class="rounded-[7px] border border-[#008CC9] py-[6px] px-[7px] mx-auto text-[#008CC9] font-semibold text-[15px] leading-[100%] cursor-pointer">
                    Request A Sponsor
                </button>
            </div>

        </div>
    </div>
</div>
</body>
</html>