<div id="con1"
     class="absolute bottom-0 mx-[2px] w-[382px] h-0 opacity-0 overflow-hidden bg-[#F9FAFA] transition-[height,opacity] duration-[3000ms] ease-in-out [will-change:height,opacity] border border-[#008CC9] rounded-[8px] shadow-[0px_0px_13px_#008CC9] z-20"
>
    <div class="mt-[40px] font-Inter flex justify-center mx-auto w-full text-center text-[25px] font-[800]">
        EGETY Automation
    </div>
    <div class="mt-[29px] font-Inter flex justify-center mx-auto w-full text-center text-[20px] font-[500]">
        Proceed, and Egety Automation will<br/>complete the entire purchase for you,<br/>fund transfer,
        conversion, swap,<br/>minting, and deliver automatically.
    </div>
    <div class="flex justify-center mt-[29px] gap-[37px] font-Inter">
        <button class="w-[79px]! font-[700]! text-[#008CC8]! text-center! text-[15px]! border! border-[#008CC8]! rounded-[8px]!"
                hx-ext="htmx-ensure, htmx-set"
                hx-ensure="#con1:h-0;opacity-0;!h-[320px];!opacity-100"
                hx-trigger="click"
        >
            Cancel
        </button>
        <button id="pay"
                class="w-[79px]! font-[700]! bg-[#008CC8]! text-white! text-center! text-[15px]! border! border-[#008CC8]! rounded-[8px]!"
                hx-ext="htmx-ensure, htmx-set"
                hx-ensure="#con1:h-0;opacity-0;!h-[320px];!opacity-100,#con2:!h-0;!opacity-0;h-[320px];opacity-100"
                hx-trigger="click"
                hx-get="{{$.basePath}}/payments/proceed"
                hx-target="#con2Message"
                hx-swap="innerHTML"
        >
            Proceed
        </button>
    </div>

</div>