<div id="con2Message" class="h-full flex flex-col justify-center">
    {{if $.canProceed}}
    <script>
        setTimeout(function () {
            window.successMessageManager.showCustom('con2Message', 'Success',
                'Request Sent Successfully',
                true,
                4000)
        }, 2000)
        setTimeout(function () {
            document.getElementById('boxbuyMiningHolder').innerHTML = '';
            const pkgDetails = document.getElementById('packageDetails');
            if (pkgDetails) pkgDetails.innerHTML = '';
            document.getElementById('full-width-boxbuy').classList.add('hidden');
        }, 7000)

    </script>
    {{else}}
    <script>
        setTimeout(function () {
            window.failureMessageManager.showCustom('con2Message', 'Failure',
                {{if intGt (length "some text") 0}}{{$.message}}{{else}}Failed{{end}},
                true,
                4000)
        }, 2000)
        setTimeout(function () {
            document.getElementById('boxbuyMiningHolder').innerHTML = '';
            const pkgDetails = document.getElementById('packageDetails');
            if (pkgDetails) pkgDetails.innerHTML = '';
            document.getElementById('full-width-boxbuy').classList.add('hidden');
        }, 7000)

    </script>
    {{end}}
</div>
